.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

    /* table css */

    
.table__head{
    color: #FFF;
    font-weight: 700;
    background: #7ce483;
    background: -moz-linear-gradient(-45deg, #53e77d 0%, #6ec2db 100%);
    background: -webkit-linear-gradient(-45deg, #6aef77 0%,#69c8e5 100%);
    background: linear-gradient(135deg, #72ec72 0%,#6cd4f4 100%);
    white-space: nowrap;
    }
    .table-bordered td, .table-bordered th{
    border: 0px solid #FFF;
    }
    .coin {
    width:8%;
    margin-left: 5px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    .winner__table{
        white-space: nowrap;
    }
    
    @media screen and (max-width: 567px) {
    
        .winner__table{
        font-size: 12px;
        }
        .coin {
        width:15%;
        margin-left:2px;
        }
    }